<?xml version="1.0" encoding="UTF-8"?>
<!-- src/main/resources/spring.xml -->
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <!-- autowiring by constructor will match the types of Mario for gb's constructor -->
    <bean id="gb" class="com.learning.springboot.game.Gameboy" autowire="constructor"></bean>
    <bean id="gba" class="com.learning.springboot.game.GameboyAdvance">
        <!-- using a property will find gba's setter for game and assign to it the bean with id "sonic" -->
        <property name="game" ref="sonic"></property>
    </bean>
    <bean id="mario" primary="true" class="com.learning.springboot.game.Mario"></bean>
    <bean id="sonic" class="com.learning.springboot.game.Sonic"></bean>
</beans>